<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583311691586-f23pldlk7rdhsthresc21pr9vtia1g0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583311691586-f23pldlk7rdhsthresc21pr9vtia1g0j</string>
	<key>API_KEY</key>
	<string>AIzaSyDd8bc5d10dM76OIcush7aEFduVMIwKZDk</string>
	<key>GCM_SENDER_ID</key>
	<string>583311691586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-a71d5</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-a71d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583311691586:ios:e0bdfea86a3b9875a302db</string>
</dict>
</plist>